%% Aliases
{alias, [
    {check, [
        xref, dialyzer, eunit, {cover, "-v"}
    ]}
]}.

%% Erlang Compiler Options
{erl_opts, [
    warn_unused_vars,
    warnings_as_errors,
    warn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars,
    warn_missing_spec,
    warn_untyped_record,
    debug_info
]}.

%% Plugins
{project_plugins, [{rebar3_typer, "~> 0.0.1"}]}.

%% Dependencies
{deps, []}.

%% Profiles
{profiles, [
    {test, [
        %% Don't warn when test suites use `-compile(export_all)`
        {erl_opts, [nowarn_export_all, nowarn_missing_spec]}
    ]}
]}.

%% Common Test
{ct_compile_opts, [
    warn_unused_vars,
    warn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars,
    warn_missing_spec,
    warn_untyped_record,
    debug_info
]}.

%% Cover
{cover_enabled, true}.
{cover_opts, [verbose, {min_coverage, 80}]}.

%% Dialyzer
{dialyzer, [
    {warnings, [
        no_return,
        unmatched_returns,
        error_handling,
        unknown
    ]},
    {plt_apps, top_level_deps},
    {plt_extra_apps, []},
    {plt_location, local},
    {base_plt_apps, [erts, stdlib, kernel]},
    {base_plt_location, global}
]}.

%% Xref
{xref_checks,[
    %% enable most checks, but avoid 'unused calls' which is often
    %% very verbose
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.

{relx, [{release, {job_center, "0.1.0"},
         [job_center,
          sasl]},

        {mode, dev},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/sys.config.src"},
        {vm_args, "./config/vm.args.src"}

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
]}.
